<!DOCTYPE html>
<html>
<title>Resume</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1000px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="static/IMG_20160204_113924.jpg" style="width:95%;" alt="Avatar" height="250">

	<center><h2>MANISH KUMAR</h2></center>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Jaipur, Rajasthan</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>manish.kumar212111@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91 7297899599</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">
              <div class="w3-center w3-text-white">75%</div>
            </div>
          </div>
          <p>C</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>Data Structure</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
	<p>HTML</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
	<p>Hindi</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>

	<p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>

          </div>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><hr>.
         <br>
        </div>
      </div>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Back End Developer / hasura.io</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2017 - <span class="w3-tag w3-teal w3-round">Feb 2018</span></h6>
          <p>A clone app of splitwise during internship at hasura. API development in flask was primarily my work and we successfully integrated nackend and front end . <a href="https://app.octagon58.hasura-app.io">Link to app</a></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer / rcplindia.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2017 - July 2017</h6>
          <p>During my summer training i developed a web app on online food order system using java- JSP framework with the support of mysql database</p>
          <hr>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Degree Of Matriculation </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2013</h6>
          <p> <b>The Jaintpur Public School</b><br>Muzaffarpur, Bihar  <br>Percentage: 9.6 CGPA</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>SENIOR SECONDARY </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
          <p> <b>Sr. Secondary High School</b><br>Kanti - Muzaffarpur,Bihar <br>Percentage: 76.6 (with Distinction) </p>

          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Bachelor of technology (Computer Science)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - current</h6>
          <p><b> Jaipur National University</b><br> Jaipur <br> Till 5th Sem Aggregate Percentage : 78.0</p><br>
        </div>
      </div>
<hr>


          <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Personal Detail</h2>
        <div class="w3-container">
          <hr>
          <p>

            <b>Father’s Name:</b> Devendra Prasad Singh<br> <b>Date of Birth: </b>26 Oct, 1996 <br><b>Languages:</b> English,
            Hindi, Maithili <br><b>Hobbies:</b> Playing cricket, Coding , listening music <br><b>Permanent Address </b>
            : Bankul chhapra, ps- Mushari, dist- muzaffarpur, Bihar, 843116
          </p>
          <hr>
        </div>
<hr>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>


<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a href="https://www.facebook.com/profile.php?id=100007657627419" target="_blank"> <i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/kkmanish1/" target="_blank"> <i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/manish-kumar-941229127/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <br><br>
</footer>
    </div>
</body>
</html>
