<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</script>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">G R I P</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="https://manish7297.herokuapp.com/credit">Home</a></li>
        <li><a href="https://manish7297.herokuapp.com/view_all_user">VIEW ALL USER</a></li>
        <li><a href="https://manish7297.herokuapp.com/credit_transfer">CREDIT TRANSFER</a></li>
      </ul>
      </div>
  </div>
</nav>

<div class="container">

    <table border="1">
         <tr bgcolor="yellow">
            <th>Name</th><th>Email</th><th>Mobile</th>
        </tr>
        {% for i in result  %}


        <tr>
            <th>{{i[0]}}</th><th>{{i[1]}}</th><th><a href="#">transfer credit</a></th>
        </tr>
        {% endfor %}

    </table>


</div>

</body>
</html>
